// Variables 
$fontSecondary: 'Open Sans', Arial, sans-serif;
$fontMenuKH: 'KH2Menu', Arial, sans-serif;
$fontTxtKH: 'KH2txt', Arial, sans-serif;
$fontRoboto: 'Roboto Slab', serif;

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 33rem;
    }
  }

  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
    }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: 2px 2px 2px black
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 13vh;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Sofia+Sans:wght@100&display=swap');
@font-face {
    font-family: 'KH2Menu';
    src: url(./ressources/fonts/KH2_ALL_MENU_I.TTF);
  }

  @font-face {
    font-family: 'KH2txt';
    src: url(./ressources/fonts/DFPW5_EUR.ttf);
  }


nav {
    width: 100%;
    height: 14%;
    background: linear-gradient(184deg, rgba(2,0,36,1) 0%, rgba(0,52,172,1) 100%);
    border-bottom: 3px #0434F9 solid;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menubar button{
    padding:3px 30px;
}

.bgmenu {
    background-color: #004BFE;
    border-radius: 0 9999px 9999px 0;
    box-shadow: 10px 10px 10px black;
    
}


.flex {
    display: flex;
    flex-direction: row;
}

.dans {
        display: flex;
        flex-direction: row;
}

.Desc {
    font-family: $fontSecondary;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: left;
    color: whitesmoke;
    &__size {
      font-size: 1rem;
    }
}

.section1 {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 10px;
}


img {
    width: 100%;
    opacity: 0.8;
}

.size-img {
   width: 25%;
}

.khmenu {
    font-family: $fontMenuKH;
    font-size: 4rem;
    color: white;
    
}

.khmenufont {
    font-family: $fontMenuKH;
}

.link {
    text-decoration: none;
    text-shadow: 10px 10px black;
    &__nav {
        font-size: 3rem;
        color: rgb(0, 110, 255);
        font-family: $fontSecondary;
    }
}

h1 {
  font-family: $fontRoboto;
}

p {
    font-family: $fontRoboto;
}

h2 {
    font-family: $fontSecondary;
    font-size: 3rem;
    text-align: center;
    color: #ef9321;
}
.section2 {
   width: 100%;
   font-family: $fontSecondary;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#sect2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.bg2 {
    background: linear-gradient(180deg, rgba(172,120,0,1) 0%, rgba(145,121,64,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./ressources/divetotheheartart.webp');
    background-size: cover ;
    background-repeat: no-repeat;
    backdrop-filter: blur(10rem);
}

.backdrop {
    backdrop-filter: blur(1rem);
}

span {
    text-decoration: underline;
    font-weight: bold;
}

#icone {
    width: 20%;
    opacity: 1;
    margin: auto;
    z-index: -1000;
}

.flexin1 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    width: 20%;
}

ul {
    list-style-type: none;
}

.flexin2 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    width: 20%;
}
.flexin3 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    width: 20%;

}
.dropbtn {
    cursor: pointer;
}
.dropdown-content {
    font-family: $fontTxtKH;
    width: 33rem;
    color: white;
    font-size: 2rem;
    position: absolute;
    display: none;
}

.show {
    display: block;
    transition: width 5s;
    animation: 1s slidein;
}


li.bg-menu {
background: linear-gradient(100deg, rgba(0,0,0,1) 47%, rgba(81,81,84,1) 100%);
border-top-left-radius: 15px;
border-bottom-right-radius: 15px;
opacity: 0.8;
padding: 3px;
border-top: 1mm ridge rgb(255, 255, 255);
box-shadow: 2px 2px 2px black;
list-style-type: none;
 a {
    color: white;
 }

 &:hover {
    background: linear-gradient(100deg, rgba(179,0,1,1) 0%, rgba(228,0,1,1) 100%);
    box-shadow: 5px 5px 15px 5px #bcb136;
    border-top: 1mm ridge rgb(255, 255, 255, 0.8);
    margin-left: 5%;
 }

}

.margpad {
    padding-left: 15px
}

.dropbtn { 
  border: none;
  cursor: pointer;
    }


.logoserv {
    width: 12rem;
    height: 12rem;
}

figcaption {
    font-family: $fontTxtKH;
    color: #ffffff;
    text-align: center;
    text-shadow: none;
}

// iframe {
//     visibility:hidden;
//     opacity:0;
//     transition:visibility 0.3s linear, opacity 0.3s linear;
//     position: absolute;
//     top: 1%;
//  }

// a:hover + iframe {
//    opacity: 1;
//    visibility: visible;
// }

.discord:hover {
    transition: all 0.5s 0s ease, text-shadow 0.5s 0s ease;
    animation: pulse 1.5s ease-in-out infinite;
}

figcaption {
    text-shadow: 5px 5px 5px black;
    font-family: $fontRoboto;
    font-size: 2rem;
}



.acc {
    padding-right: 2rem;
    font-family: $fontRoboto;
}

figure > img:hover, figcaption:hover {
    filter: drop-shadow(16px 16px 20px rgb(255, 255, 255)) ;
}

hr {
    position: absolute;
    z-index: -1;
    right: 0%;
    bottom: 20%;
    height: 4px;
    width: 50%;
    border: none;
    background: linear-gradient(
        to left, 
        rgba(239, 147, 33, 1) 0%,
        rgba(239, 147, 33, 0.5) 75%,
        rgba(239, 147, 33, 0) 100% );
}

@media (max-width:915px) {
       .section1 {
        flex-direction: column;
       }
       .Desc {
        width: 50%;
       }
}

@media (max-width:645px) {
    .section1 {
     flex-direction: column;
    }
    .Desc {
     width: 50%;
    }
    .flex {
        flex-direction: column;
        justify-content: center;
    };
}

@media (max-width:583px) {
     .dropbtn {
                width: 13rem;
            }
            .khmenu {
                font-size: 2.1rem;
            }

            .dropbtn {
                width: 13rem;
            }

            .link__nav {
              font-size: 2rem;
            }
  .Desc {
    width: 100%;
    text-align: center;
  }
          }